
<p-card>
<app-title title={{title}}></app-title>

<p> Indique los siguientes datos para la búsqueda:</p>
<div class="p-formgroup-inline">
    <div class="p-field">
        <label for="especialidad"
        class="p-sr-only">Especialidad</label>
        <p-dropdown
        [showClear]="true"
        [filter]="true"
        [options]="especialidades"
        placeholder="Especialidad"
        (onChange)="dropdownMedicos();dropdownServicios();"
        [(ngModel)]="especialidadSelected"
        required  [disabled]="flag"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="medico"  class="p-sr-only">Médico</label>
      <p-dropdown [showClear]="true"
      [filter]="true"
      [options]="medicos"
      required
      placeholder="Medico"
      [(ngModel)]="orden.medico_id"

      required  [disabled]="flag"
      (onChange)="medicoOnchange()"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="servicio" class="p-sr-only">Servicio</label>
      <p-dropdown [showClear]="true" 
                  [filter]="true" 
                  [options]="servicios"
                   placeholder="Servicio"
                  [(ngModel)]="orden.servicio_id" 
                  >
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="turno"  class="p-sr-only">Turno*</label>
      <p-dropdown  [showClear]="true"
                   [options]="turnos" 
                   placeholder="Turno" 
                   [(ngModel)]="orden.turno_id" 
                   [disabled]="flag" >
      </p-dropdown>
    </div>

    <div class="p-field">
      <label for="fecha" class="p-sr-only">Cita</label>
      <p-calendar
        [disabled]="flag"
        baseZIndex="10000"
        [locale]="es"
        [yearNavigator]="true"
        [monthNavigator]="true"
        dateFormat="dd/mm/yy"
        [showIcon]="true"
        inputId="icon"
        yearRange="2000:2050"
        showButtonBar="true"
        placeholder="Cita"
        [(ngModel)]="fecha_cita"
        
      >
      </p-calendar>
    </div>

    <div class="p-field">
        <button (click)="consult()" pButton pRipple type="button"
            label="Buscar" [disabled]="!especialidadSelected || !orden.medico_id">
        </button>
    </div>
    <div class="p-field">
      <button (click)="limpiar_variables_combos()" pButton pRipple type="button"
          label="Limpiar">
      </button>
  </div>

</div>
<hr><br />
</p-card>
<app-basic-table-agrupado  
[autoLayout]="true" 
[cantidad]=total 
[registros]='reporte' 
[cols]='cols' 
[resizable]='true' 
[summary]='true'
[loading]="loading"  
[exportarExcel] = 'true' 
[exportarPdf] = 'false' 
[pdfPropiedades]='pdfPropiedades'
[mostrar_enc] ='true'
[texto_encabezado]='texto_encabezado'
[cantidad_columnas]='10'
[agrupado] = 'true'
[rowGroupMetadata] ="rowGroupMetadata"
[columna_agrupado] ="columna_agrupado"
[virtualDummies] = "reporteMedico"
[mostrarHeaderGroup] = "false" 
[isPagination]="false"
[mostrar_buscar]="false">
</app-basic-table-agrupado>
<!-- Notificación -->
<app-toast></app-toast>

